eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  # Base64-encoded secret (32 bytes min for HS256). Override in real env.
  secret: c3VwZXItc2VjcmV0LWtleS0zMi1ieXRlcy1sb25nISE=

management:
  endpoints:
    web:
      exposure:
        include: "*"
